a:hover {
	text-decoration: none;	
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
* {
	outline: none !important;
}
body {
	font-family: 'Ubuntu', sans-serif;
	/*min-width: 302px;*/
	/*overflow: hidden;*/
	/*background: silver;*/
}
.container {
	/*overflow: hidden;*/
}
.firstNav {
	display: flex;
	/*background: #5e5e5e;*/
	background: linear-gradient(#383838, #232323, #383838);
	height: 40px;
	color: white;
	font-size: .9em;
}
.firstNav a {
	color: white;
	flex-wrap: nowrap;
}
.firstNav i {
	color: silver;
}
.firstNav li {
	flex-wrap: nowrap;
}
.line {
	border-right: 2px solid white;
	height: 1.6em;
	margin: 0 14px;
}
.blackLine {
	border-color: black;
}
.lline {
	border-right: 2px solid white;
	height: 1.5em;
	margin: 0 14px;	
}
.entrance {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	margin-left: 17px;
}
.entrance a {
	color: #f4ffed;
	font-size: .9em;
}
.linePadding {
	margin: 0 29px;
	border-right: 2px solid #f4ffed;
	height: 1.2em;
}
.navRow {
	display: flex;
	justify-content: space-between !important;
}
.ulNav {
	width: 100%;
	flex-wrap: nowrap;
}
.ulNav li {
	min-width: max-content;
}
.clock {
	margin: 0 14px;
	margin-left: 5px;
}
.registr a {
	color: black;
}
.rori {
	/*background: orange;*/
	/*height: 100px;*/
	padding: 0 25px;
	/*display: flex;*/
	/*justify-content: center;*/
}
.rori .row {
	/*flex-wrap: nowrap;*/
	height: 109px;
}

/********************logo*********************/

.row img {
	width: 250px;	
	/*min-width: 313px;*/
}
.btnWrapper button {
	min-width: 151px;	
	max-width: content;
	font-size: 13px;
	height: 40px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);	
}
.btnWrapper {
	display: flex;
	justify-content: space-between;
	/*width: 300px;*/
	/*margin-right: 110px;*/
	flex: 1;
}
.btn-sell {
	background: #ed7d19;
	border-color: #ed7d19;
}
.btn-sell:hover {
	background: #ce6f1d;
	border-color: #ce6f1d;
}
.cont {
	background: #5e5e5e	;
	margin-right: -24px;
	display: flex;
	align-items: center;
}
.cont .container {
	height: 50px;
	display: flex;
	align-items: center;
}
.cont button::after {
	display:none;
	outline: none;
	box-shadow: none;
}
.loginIcon {
	background: #848484;
	border-color: #848484;
	height: 32px;
	display: flex;
	align-items: center;
}
.loginIcon:hover {
	background: #989898;
	border-color: #989898;
}
.contTemp {
	background: orange;
	height: 100px;
}
.hamburgerWrapper {
	margin-left: 35px;
	margin-right: 12px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 33px;
}    
.hamburger-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.skipRow {
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
}
.skipRow button {
	/*top: -5px;*/
	position: relative;
}

/***************skipMenu**************/

.skipMenuContainer {
	position: absolute;
	z-index: 4;
	display: flex;
	justify-content: flex-end;
	/*overflow-x: hidden;*/
}
.skipMenu {
	padding: 7px 0;
	min-width: 300px;
	background: white;
	border-radius: 4px;
	border: 1px solid silver;	
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	position: relative;
	transition: .2s;
	left: 18px;
	opacity: 0;
}
.skipMenu a li {
	display: flex;
	align-items: center;
	height: 60px;
	color: #5e5e5e;
	/*background: lime;*/
	/*border-bottom: 1px solid silver;*/
	padding: 0 25px;
}
.skipMenu i {
	color: silver;
}
.skipMenu a:last-child li {
	border-bottom: initial;
}
.mainSkipMenu {
	display: none;
	z-index: 18;
}
.showMainSkipMenu {
	left: -1px;	
	opacity: 1;
}
.underline {
	border: .5px solid silver;
	width: 83%;
	align-self: center;
}

/*****************firstBackgroundSection****************/

.firstBackgroundSection {
	background: url(../img/background_coffee_main.jpg) no-repeat center / cover;
	height: 500px;
	padding: 50px 20px;
}
.firstBackgroundItemsRow {
	height: 40px;
	background: #ffffffc7;
	border-radius: 5px;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	/*flex-direction: column !important;*/
}
.firstBackgroundItemsRow div {
	min-width: max-content;
}
.firstBackgroundItemsRow a {
	color: black;
}
.firstBackgroundSection input {
	background: #ffffff00;
	width: 340px;
	border: none;
	height: 100%;
	font-size: 1em;
}

.inputMainWrapper {
	display: flex;
	width: 60%;
	margin: 0 auto;
	position: relative;
	left: 30px;
	align-items: center;
}
.inputMainWrapper .col {
	padding-left: 0;
}
.inputMainWrapper input {

}
.skipNavigation {
	background: linear-gradient(#383838, #232323, #383838);
	/*background: #5e5e5e;*/
	/*padding: 8px;*/
	/*position: fixed;*/
}
.col input {
	width: 100%;
	border: none;
	background: #dbdbdc;
}
.inputWrapper {
	background: #dbdbdc;
	padding: 0 8px;
	border-radius: 5px;
	height: 31px;
	display: flex;
	align-items: center;
}
.inputWrapperSecond {
	display: flex;
	align-items: center;
}
.inputPadding {
	padding: 0 9px;
	background: #ffffffc7;
	height: 100%;
	border-radius: 5px;
}
.inputRow {
	position: relative;
	top: 300px;
}
.backgroundDivs div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.backgroundDivs div div {
	min-width: 270px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffffc7;
	color: black;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 35px;
}
.backgroundDivs div div:hover {
	background: #e9e9e9c7;
}
.backgroundDivs a {
	color: black;
}
.vertItems {
	position: relative;
	top: 80px;
}
.wideUnderLine {
	border-bottom: 2px solid #7a7a7a;
	margin: 0 13px;
}
.listingWord {
	background: linear-gradient(#383838, #232323, #383838);
	color: white;
	display: inline-block;
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 50px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);	
}
.card {
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.listingMainContainer {
	margin-top: 50px;
}
.bizActivesCardsContainer {
	/*height: 400px;*/
	background: purple;
	display: flex;
	color: white;
	margin-bottom: 50px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.firstCol {
	background: url(../img/background_coffee_main.jpg) no-repeat center / cover;
	width: 45%;
	height: 400px;
	overflow: hidden;
}
.secondCol {
	background: pink;
	/*width: 100%;*/
	flex: 1;
	display: flex;
}
.robi {
	background: url(../img/1.jpg) no-repeat center / cover;
}
.nrobi {
	background: url(../img/ddccb8c2532657f6935ddd4cb96fdfd4ff7c970a-750x480.jpg) no-repeat center / cover;
}
.bizActivesCardsContainerLilCards {
	overflow: hidden;
	height: 200px;
}
.seeAllButton {
	height: 50px;
	background: linear-gradient(#ffa200, #ff6801);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	border-radius: 5px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);	
}
.aboveBlog {
	margin-bottom: 100px;
}
.blogPhoto {
	background: url(../img/1.jpg) no-repeat center / cover;
	width: 30%;
	height: 200px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.blogPhotoCenter {
	width: 34%;
	height: 220px;
	position: relative;
	top: -20px;
}
.blogPhotosWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 50px;
}
.aboutUsContainer {
	background: #e3e5e4;
	border: 1px solid #dddddd;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
	margin-bottom: 80px;
}
.footerContainer {
	height: 70px;
	background: #282828;
	color: white;
	display: flex;
	align-items: center;
	font-size: .9em;
}
.footerContainer img {
	border-radius: 5px;
	width: 240px;
}
.footerContainer .container {
	display: flex;
	justify-content: center;
}
.footerInnerContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.footerTextWrapper {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 60px;
}
.footerTextWrapper ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.footerTextWrapper li {
	color: white;
}
.footerTextWrapper i {
	color: silver;
}
.footerImgContainer {
	/*flex: 1;*/
	display: flex;
	justify-content: center;
}
.aboutUsAndCallWrapper {
	width: 303px;
	/*background: orange;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 15px;
}
.call {
	background: silver;
	display: flex;
	align-items: center;
	border-radius: 5px;
	width: 150px;
	justify-content: center;
	height: 25px;
	color: black !important;
}
.btn-change {
	background: #ed7d19;
	border-color: #ed7d19;
}
.btn-search {
	background: #0076a0;
	border-color: #0076a0;	
}
.sliderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.slickContainer {
	width: 80%;
	min-width: 650px;
}
.slickContainer .item {
	display: flex !important;
	justify-content: center;
	height: 200px;
}
.slick-arrow {
	font-size: 54px;
}
.slick-arrow:hover {
	cursor: pointer;
}
.card {
	border: 0;
}
.noShadow {
	box-shadow: none;
	width: 100%;
}
.noShadow img {
	border-radius: 3px;
	
}
.noShadowCardRow {
	flex-direction: column;
}
.noShadowContainer {
	padding: 0;
	display: flex;
	align-items: center;
}
.noShadowContainer .row {
	width: 20%;
}
.vertLine {
	border-right: 3px solid white;
	height: 230px;
	display: inline-block;
	margin: 0 15px;
}