@media (max-width: 1200px) {
	.clock {
		margin: 0 0;
	}
	.btnWrapper {
		margin-left: 0;
		margin: 25px 0 !important;
		padding: 0 3rem !important;
	}
	.container.rori {
		display: flex;
		justify-content: center;
	}
	.rori .row {
		justify-content: center !important;
		max-width: 784px;
	}
	.row .card {
		margin-top: 20px;
	}
}
@media (min-width: 1201px) {
	.btnWrapper {
		margin-left: 77px !important;
	}	
}
@media (max-width: 992px) {
	.footerInnerContainer img {
		width: 230px;
	}
	.footerInnerContainer {
		/*width: 100%;*/
	}
	.footerContainer {
		height: 100px;
	}
	.footerTextWrapper {
		flex: 1;
		justify-content: center;
		display: flex;
		margin-left: 20px;
	}
	.rori {
		padding-right: auto;
	}
	.btnWrapper {
		margin-right: 0;
		width: 732px;
	}
	.firstCol {
		height: 300px;
	}
	.bizActivesCardsContainerLilCards {
		height: 150px;
	}
	.blogPhoto {
		height: 140px;
	}
	.blogPhotoCenter {
		height: 160px;
		top: -15px;
	}
}
@media (max-width: 330px) {
	.blogPhoto {
		width: 100% !important;
		margin-bottom: 25px;
		height: 160px !important;
	}
}
@media (max-width: 767px) {
	.btnWrapper {
		width: 330px;
	}
	.blogPhoto {
		/*width: 100%;*/
		width: 300px;
		margin-bottom: 25px;
		height: 200px;
	}
	.aboveBlog {
		margin-bottom: 50px;
	}
	.blogPhotosWrapper {
		flex-direction: column;
		align-items: center;
	}
	.blogPhotoCenter {
		top: 0px;
		height: 200px;
	}	
}
@media (max-width: 575px) {
	.cont {
		margin: 0;
	}
	.skipMenuContainer {
		overflow-x: hidden;
	}
}
@media (max-width: 512px) {
	.btnWrapper {
		width: 300px;
	}
}
@media (max-width: 404px) {
	.btnWrapper {
		max-width: 290px;
	}
}
@media (max-width: 364px) {
	.btnWrapper {
		max-width: 270px;
	}
	.btnWrapper button {
		max-width: 120px;
	}
}
@media (max-width: 342px) {
	.btnWrapper {
		max-width: 255px;
	}
	.btnWrapper button {
		max-width: 115px;
	}
}
@media (max-width: 321px) {
	.btnWrapper {
		max-width: 247px;
	}
	.btnWrapper button {
		max-width: 110px;
	}
}
@media (max-width: 308px) {
	.btnWrapper {
		max-width: 231px;
	}
	.btnWrapper button {
		max-width: 105px;
	}
}
@media (max-width: 768px) {
	.inputMainWrapper {
		width: 80%;
	}
	.footerTextWrapper {
		height: 68px;
	}
	.btnWrapper {
		flex-wrap: wrap;
		padding: 0 84px !important;
	}
	.marginBtn {
		margin-bottom: 22px;
	}
}
@media (max-width: 519px) {
	.footerInnerContainer {
		flex-direction: column;
	}
	.footerContainer {
		height: 220px;
	}
	.footerTextWrapper {
		margin-left: 0;
	}
	.footerTextWrapper ul {
		margin-left: 0;
		height: 72%;
	}
	.footerInnerContainer img {
		width: 200px;
		position: relative;
		top: -9px;
	}
	.footerTextWrapper {
		height: auto;
		position: relative;
		top: 2px;
	}
	.skipMenuContainer {
		max-width: 100%;
	}
}
@media (max-width: 301px) {
	.skipMenu {
		width: 270px !important;
	}
}
/*@media (max-width: 800px) {
	.sliderContainer {
		width: 500px !important;
		justify-content: center !important;
	}
}*/